LLM_PROVIDER=mistral
MISTRAL_API_KEY=your-mistral-api-key-here
OPENAI_API_KEY=your-openai-api-key-here
XAI_API_KEY=your-xai-api-key-here

MODEL_NAME=mistral-small-latest
PORT=8000

JWT_SECRET_KEY=your-secret-key-here
JWT_EXPIRE_HOURS=24
DOCTOR_SECRET_CODE=CUREO-DOC-2024

DATABASE_URL=
